src/wsdl/HelloWorldService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://github.com/mhnagaoka/jaxws-tomcat/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="service" targetNamespace="http://github.com/mhnagaoka/jaxws-tomcat/service">
  <wsdl:types>
    <xsd:schema targetNamespace="http://github.com/mhnagaoka/jaxws-tomcat/service">
      <xsd:complexType name="sayHelloWorld">
      	<xsd:sequence>
      		<xsd:element name="message" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="sayHelloWorldResponse">
      	<xsd:sequence>
      		<xsd:element name="result" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
            <xsd:element name="sayHelloWorld" type="tns:sayHelloWorld"></xsd:element>
            <xsd:element name="sayHelloWorldResponse" type="tns:sayHelloWorldResponse"></xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sayHelloWorldRequest">
  	<wsdl:part name="parameters" element="tns:sayHelloWorld" ></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloWorldResponse">
  	<wsdl:part name="parameters"
  		element="tns:sayHelloWorldResponse">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloWorldPortType">
  	<wsdl:operation name="sayHelloWorld">
  		<wsdl:input message="tns:sayHelloWorldRequest"></wsdl:input>
  		<wsdl:output message="tns:sayHelloWorldResponse"></wsdl:output>
  	</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloWorldBinding"
  	type="tns:HelloWorldPortType">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="sayHelloWorld">
  		<soap:operation
  			soapAction="http://github.com/mhnagaoka/jaxws-tomcat/service/sayHelloWorld" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorldService">
    <wsdl:port binding="tns:HelloWorldBinding" name="serviceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
